<article id="journal">
  <section id="main">
    <%= form_for("grade", {:group_id => params[:group_id]}) do %>
      <%= table_for @students do |t| %>
        <%= t.head do %>
          <%= t.r do %>
            <%= t.h [@subject.name, @group.number].join(' / '), :class => 'subject_group' %>
            <% @pairs.each do |pair| %>
              <%= t.h content_tag('label', pair.date_time.strftime("%d.%m")) %>
            <% end %>
          <% end %>
        <% end %>
        <%= t.body do |student| %>
          <%= t.r do %>
            <%= t.d (text_field :student, student.id, :value => student.full_name), :class => 'student' %>
            <% @pairs.each do |pair| %>
              <% grade =  Grade.where(:pair_id => pair.id, :student_id => student.id).first %>
              <%= t.d text_field(:grade, [student.id, pair.id].join('_'), :value => (grade)?(grade.mark):("")) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= text_field_tag(:new_student, '', {:id => 'new_student', :placeholder => "Новый слушатель"}) %>
      <p class="button">
      <%=  submit_tag "Изменить" %>
      </p>
    <% end %>
  </section>
</article>

<article id="select_subject_and_group">
  <%= form_tag(:action => 'journal') do %>
      <p>
      <label>Предмет</label>
      <%= select_tag(:n_subject_id, options_from_collection_for_select(@subjects, :id, :name, (params[:subject_id])), :class => 'select', :id => 'subject') %>
      </p>
      <p>
      <label>Группа</label>
      <%= select_tag(:n_group_id, options_from_collection_for_select(@groups, :id, :number, (params[:group_id])), :class => 'select', :id => 'group') %>
      </p>
      <p class="button"><%= submit_tag("Показать") %></p>
  <% end %>
</article>